@use '../abstracts/variables' as v;

.button {
    background-color: v.$gray;
    color: v.$dark;
    padding: v.$spacing-sm v.$spacing-base;
    border-radius: v.$radius-base;
    text-decoration: none;
}

.button--primary {
    background-color: v.$primary;
    color: v.$light;

    &.button--active {
        color: v.$gray;
    }
}

.button--active {
    color: v.$primary;
}