@use '../abstracts/variables' as v;

.button {
    background-color: v.$gray;
    color: v.$light;
    padding: v.$spacing-sm v.$spacing-base;
    border-radius: v.$radius-base;
    text-decoration: none;
}

.button--primary {
    background-color: v.$primary;
}