{% extends "layouts/_main" %}

{% block container %}
    <h1>{{ entry.title }}</h1>

    <ul>
        {% for tag in entry.keywordSelector.all() %}
            <li>
                {{ tag.title }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}