{% extends "layouts/_main" %}

{% set slug = craft.app.request.getSegment(2) %}
{% set category = craft.categories.group('projectTypes').slug(slug).one() %}

{% set cases = entry is defined ? craft.entries.section('cases').all() : craft.entries.section('cases').relatedTo(category).all() %}
{% set page = entry is defined ? entry : category %}

{% block container %}
    {% include "components/_heading" with {
        title: page.title,
        description: page.description
    } %}

    <nav class="tags">
        {% for category in craft.categories().group('projectTypes').all() %}
            {% include "components/_tag" with {
                entry: category
            } %}
        {% endfor %}
    </nav>

    <ul>
        {% for case in cases %}
            {% set isDetail = case.type == 'detail' %}

            <li>
                <a href="{{ isDetail ? case.url : case.externalLink }}" target="{{ isDetail ? '_self' : '_blank' }}">
                    {{ case.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}