{% extends "layouts/_base" %}

{% block content %}
    <div class="container">
        {% block container %}
            Dynamische content moet hier nog komen.
        {% endblock %}
    </div>
{% endblock %}