{% extends "layouts/_base" %}
{% set searchInput = craft.app.request.getQueryParam('s') %}

{% block content %}
    <div class="container">
        {% block container %}
            Dynamische content moet hier nog komen.
        {% endblock %}
    </div>
{% endblock %}