$primary: hsl(240, 100%, 66%);
$dark: hsl(0, 0%, 25%);
$gray: hsl(0, 0%, 93%);
$medium: hsl(0, 0%, 75%);
$light: hsl(0, 0%, 100%);

$spacing-sm: .5rem;
$spacing-base: 1rem;
$spacing-medium: 1.5rem;

$radius-base: .25rem;

$xs: 375px;
$sm: 576px;
$md: 756px;
$lg: 1024px;
$xl: 1240px;