{% if href is defined and label is defined and label is not empty %}
    <a
        class="button {{ modifier ?? 'button--transparent' }}"
        href="{{ href }}"
        target="{{ target ?? '_self' }}"
        >
        {{ label }}
    </a>
{% endif %}
