<div class="columns">
    <article class="columns__column">
        {% block article %}{% endblock %}
    </article>

    {% if image is defined and image is not empty %}
        <img class="columns__column" src="{{ image }}" />
    {% endif %}
</div>