{% set navigationItems = [
    {
        title: 'Home',
        url: '/'
    },
    {
        title: 'About',
        url: '/about'
    },
    {
        title: 'Contact',
        url: '/contact'
    },
] %}

<nav>
    <ul>
        {% for navItem in navigationItems %}
            <li>
                <a href="{{ navItem.url }}">{{ navItem.title }}</a>
            </li>
        {% endfor %}

        {% if currentUser and currentUser.can('accessCp') %}
            <li>
                {% include "components/button-link" with {
                    href: cpUrl(),
                    label: 'dashboard' | t(params = {name: currentUser.friendlyName | capitalize})
                } %}
            </li>
        {% endif %}
    </ul>

    {% include "components/locale" %}
</nav>