{% macro errors(list) %}
    {% if list | length %}
        <ul class="error-list">
            {% for error in list %}
                <li class="error-list__error">
                    {{ error }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

